-- CreateTable
CREATE TABLE `language` (
    `code` VARCHAR(5) NOT NULL,
    `name` VARCHAR(50) NOT NULL,
    `flag` VARCHAR(191) NULL,

    PRIMARY KEY (`code`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `biome` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `price` INTEGER NULL,
    `priceTypeId` INTEGER NULL,
    `expansionsCost` INTEGER NULL,
    `priceTypeExpansionsCostId` INTEGER NULL,
    `size` INTEGER NULL,
    `image` VARCHAR(255) NULL,

    UNIQUE INDEX `biomeindex`(`id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `biometext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `biomeId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `biomeName` VARCHAR(255) NOT NULL,
    `biomeDescription` TEXT NULL,

    UNIQUE INDEX `biomesText_biomeId_languageCode_key`(`biomeId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `origin` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,
    `image` VARCHAR(255) NULL,

    UNIQUE INDEX `originindex`(`id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `origintext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `originId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `originName` VARCHAR(255) NOT NULL,
    `originDescription` TEXT NULL,

    UNIQUE INDEX `originText_originId_languageCode_key`(`originId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `animal` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `releaseDate` DATETIME(3) NULL,
    `price` INTEGER NULL,
    `priceTypeId` INTEGER NULL,
    `sellingPrice` INTEGER NULL,
    `popularity` INTEGER NULL,
    `releaseExp` INTEGER NULL,
    `image` VARCHAR(255) NULL,
    `biomeId` INTEGER NOT NULL,
    `size` INTEGER NULL,
    `gameId` INTEGER NULL,
    `shelterLevel` INTEGER NULL,
    `breedingCost` INTEGER NULL,
    `breedingDuration` INTEGER NULL,
    `breedingProbability` INTEGER NULL,

    INDEX `animal_biomeId_fkey`(`biomeId`),
    INDEX `animal_priceTypeId_fkey`(`priceTypeId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `animaltext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `animalId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `animalName` VARCHAR(255) NOT NULL,
    `animalDescription` TEXT NULL,

    UNIQUE INDEX `animalText_animalId_languageCode_key`(`animalId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user` (
    `id` INTEGER NOT NULL,
    `name` VARCHAR(255) NULL,
    `email` VARCHAR(255) NULL,
    `image` TEXT NULL,
    `roleId` INTEGER NOT NULL,
    `last_login` DATETIME(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `user_id_key`(`id`),
    UNIQUE INDEX `user_email_key`(`email`),
    INDEX `user_roleId_fkey`(`roleId`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `role` (
    `id` INTEGER NOT NULL,
    `name` VARCHAR(20) NOT NULL DEFAULT 'Visitor',

    UNIQUE INDEX `role_id_key`(`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `rolestext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `roleId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `roleName` VARCHAR(255) NOT NULL,

    UNIQUE INDEX `rolesText_roleId_languageCode_key`(`roleId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `statue` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `animalId` INTEGER NOT NULL,
    `price` INTEGER NULL,
    `priceTypeId` INTEGER NULL,
    `popularity` INTEGER NULL,
    `sellingPrice` INTEGER NULL,
    `image` VARCHAR(255) NULL,

    UNIQUE INDEX `conteststatuesindex`(`id`),
    UNIQUE INDEX `statue_animalId_key`(`animalId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `statuetext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `statueId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `statueName` VARCHAR(255) NOT NULL,

    UNIQUE INDEX `statueText_statueId_languageCode_key`(`statueId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `contest` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `startDate` DATETIME(3) NOT NULL,
    `endDate` DATETIME(3) NOT NULL,
    `active` INTEGER NOT NULL,

    UNIQUE INDEX `contests`(`id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `animalorigin` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `animalId` INTEGER NOT NULL,
    `originId` INTEGER NULL,

    UNIQUE INDEX `originindex`(`id`),
    INDEX `animalOrigin_animalId_idx`(`animalId`),
    INDEX `animalOrigin_originId_idx`(`originId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `animalperenclosure` (
    `animalId` INTEGER NOT NULL,
    `numberAnimals` INTEGER NOT NULL,
    `numberEnclosure` INTEGER NOT NULL,

    PRIMARY KEY (`animalId`, `numberAnimals`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `animalxp` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `animalId` INTEGER NOT NULL,
    `xpTypeId` INTEGER NOT NULL,
    `xpValue` INTEGER NULL,
    `xpDuration` INTEGER NULL,

    UNIQUE INDEX `xpindex`(`id`),
    INDEX `animalXp_animalId_idx`(`animalId`),
    INDEX `animalXp_xpTypeId_idx`(`xpTypeId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `contestdonation` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `contestId` INTEGER NOT NULL,
    `userId` INTEGER NOT NULL,
    `animalId` INTEGER NOT NULL,
    `puzzlePiece` INTEGER NOT NULL,

    INDEX `contestDonation_animalId_fkey`(`animalId`),
    INDEX `contestDonation_contestId_idx`(`contestId`),
    INDEX `contestDonation_userId_idx`(`userId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `conteststatue` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `contestId` INTEGER NOT NULL,
    `statueId` INTEGER NOT NULL,

    INDEX `contestStatue_contestId_fkey`(`contestId`),
    INDEX `contestStatue_statueId_fkey`(`statueId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `pricetype` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,
    `image` VARCHAR(50) NULL,

    UNIQUE INDEX `pricetypeindex`(`id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `pricetypetext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `priceTypeId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `priceTypeName` VARCHAR(255) NOT NULL,

    UNIQUE INDEX `priceTypeText_priceTypeId_languageCode_key`(`priceTypeId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `specialcoat` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `animalId` INTEGER NOT NULL,
    `coatColor` VARCHAR(20) NOT NULL,
    `originId` INTEGER NOT NULL,
    `releaseDate` DATETIME(3) NOT NULL,
    `image` VARCHAR(255) NULL,

    UNIQUE INDEX `specialCoatesindex`(`id`),
    INDEX `specialCoat_animalId_idx`(`animalId`),
    INDEX `specialCoat_originId_fkey`(`originId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `specialcoatstext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `specialCoatId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `color` VARCHAR(255) NOT NULL,

    UNIQUE INDEX `specialCoatsText_specialCoatId_languageCode_key`(`specialCoatId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `xptype` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `xptypetext` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `xpTypeId` INTEGER NOT NULL,
    `languageCode` VARCHAR(5) NOT NULL,
    `typeName` VARCHAR(255) NOT NULL,

    UNIQUE INDEX `xpTypeText_xpTypeId_languageCode_key`(`xpTypeId`, `languageCode`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `biome` ADD CONSTRAINT `biome_priceTypeId_fkey` FOREIGN KEY (`priceTypeId`) REFERENCES `pricetype`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `biometext` ADD CONSTRAINT `biomesText_biomeId_fkey` FOREIGN KEY (`biomeId`) REFERENCES `biome`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `origintext` ADD CONSTRAINT `originText_originId_fkey` FOREIGN KEY (`originId`) REFERENCES `origin`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animal` ADD CONSTRAINT `animal_priceTypeId_fkey` FOREIGN KEY (`priceTypeId`) REFERENCES `pricetype`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animal` ADD CONSTRAINT `animal_biomeId_fkey` FOREIGN KEY (`biomeId`) REFERENCES `biome`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animaltext` ADD CONSTRAINT `animalText_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `user` ADD CONSTRAINT `user_roleId_fkey` FOREIGN KEY (`roleId`) REFERENCES `role`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `rolestext` ADD CONSTRAINT `rolesText_roleId_fkey` FOREIGN KEY (`roleId`) REFERENCES `role`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `statue` ADD CONSTRAINT `statue_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `statuetext` ADD CONSTRAINT `statueText_statueId_fkey` FOREIGN KEY (`statueId`) REFERENCES `statue`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animalorigin` ADD CONSTRAINT `animalOrigin_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animalorigin` ADD CONSTRAINT `animalOrigin_originId_fkey` FOREIGN KEY (`originId`) REFERENCES `origin`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animalperenclosure` ADD CONSTRAINT `animalPerEnclosure_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animalxp` ADD CONSTRAINT `animalXp_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `animalxp` ADD CONSTRAINT `animalXp_xpTypeId_fkey` FOREIGN KEY (`xpTypeId`) REFERENCES `xptype`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `contestdonation` ADD CONSTRAINT `contestDonation_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `contestdonation` ADD CONSTRAINT `contestDonation_contestId_fkey` FOREIGN KEY (`contestId`) REFERENCES `contest`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `contestdonation` ADD CONSTRAINT `contestDonation_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `conteststatue` ADD CONSTRAINT `contestStatue_contestId_fkey` FOREIGN KEY (`contestId`) REFERENCES `contest`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `conteststatue` ADD CONSTRAINT `contestStatue_statueId_fkey` FOREIGN KEY (`statueId`) REFERENCES `statue`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `pricetypetext` ADD CONSTRAINT `priceTypeText_priceTypeId_fkey` FOREIGN KEY (`priceTypeId`) REFERENCES `pricetype`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `specialcoat` ADD CONSTRAINT `specialCoat_animalId_fkey` FOREIGN KEY (`animalId`) REFERENCES `animal`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `specialcoat` ADD CONSTRAINT `specialCoat_originId_fkey` FOREIGN KEY (`originId`) REFERENCES `origin`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `specialcoatstext` ADD CONSTRAINT `specialCoatsText_specialCoatId_fkey` FOREIGN KEY (`specialCoatId`) REFERENCES `specialcoat`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `xptypetext` ADD CONSTRAINT `xpTypeText_xpTypeId_fkey` FOREIGN KEY (`xpTypeId`) REFERENCES `xptype`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

